---
const platform = "github";
const username = "kryword";
---

<footer>
    <p>¡Algunos de mis proyectos están disponibles en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
    <p>Este es <a href={`https://www.x.com/${username}`}>mi twitter</a>!</p>
</footer>